<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mwkj.activity">

    <!--联网权限-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name="com.mwkj.AppContext.AppStartContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!--欢迎页面-->
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--主页面-->
        <activity android:name=".MainActivity"/>

        <!--音频播放页面-->
        <activity android:name=".PlayActivity" />

        <!--听书馆-艺术家-艺术家详情页面-->
        <activity android:name=".ArtistInfoActivity"/>

        <!--听书馆-艺术家-艺术家详情-作品页-->
        <activity android:name=".ArtWorksActivity"/>


        <activity android:name=".BookTypeActivity"/>
        <!--设置页面-->
        <activity android:name=".SetUpActivity"/>

        <!--账号设置页面Activity-->
        <activity android:name=".UserSetActivity"/>

        <!--设置页面，关于魔王听书的Activity-->
        <activity android:name=".SetAboutActivity"/>

        <!--设置页面，dialog查看大图的Activity-->
        <activity android:name=".BigImgActivity"/>

    </application>

</manifest>